<!doctype html>
<html>
    <head>
        <title>Build New Recipe!</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="action.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <h2>Build your recipe!</h2>
            </div>
            <div class="row justify-content-center">
                <div>
                    <a class ="btn btn-outline-primary" id="homeButton" onclick="window.location = '/'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg>
                    </a>
                </div>
                <div class="justify-content-start">
                    <p> Description: On this page users will be able to create recipes and save them to their cookbooks</p>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row justify-content-center">
         <div class="col-5">
            <input type="text" style="width:300px" placeholder="Search for ingredient...">
            <button class ="btn btn-outline-primary"type="button">Filter</button>
            <input type="text" style="width:140px" placeholder="Ingredient name...">
            <input type="text" style="width:155px" placeholder="Type of ingredient...">
            <button id="newIng" class ="btn btn-outline-primary" style="width:63px" type="button">Add</button>
            <div>
                <table id="ingTable" class= "table table-striped style="width:80%">
                    <tr>
                      <th>ID</th>
                      <th>Ingredient Name</th>
                      <th>Type</th>
                      <th>Add to recipe!</th>
                    </tr>
                    <tbody>
                        {% for i in i_rows %}
                        <tr>
                            <td>{{ i.0 }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td><button class ="btn btn-outline-primary"> Add</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Some text in the Modal..</p>
            </div>

        </div>

        <div class="col-5">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <label class="form-label"> Name: </label>
                            <input type="text" style="width:200px" placeholder="name of dish">
                        </div>
                    </div>
                </div>
            </div>




            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div>
                            <label class="form-label"> Genre: </label>
                            <select name="genres" class="form-select" style="width:200px" id="genres">
                                <optgroup label="Recipe Genre">
                                    {% for g in g_rows %}
                                    <option value="{{ g.0 }}">{{ g.0 }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <label class="form-label" >Instructions: </label>
                            <input type="text" style="width:157px" placeholder="instructions">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <label class="form-label" >Cook Time: </label>
                            <input type="text" style="width:166px" placeholder="cook time">
                        </div>
                    </div>
                </div>
            </div>
    <!--                                  -->

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Ingredients Added: </p>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-12">

            <div>
                <table class="table table-success"  id="addedIngTable">
                    <tr>
                      <th>ID</th>
                      <th>Ingredient Name</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Onion</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Potatoes</td>
                    </tr>
                  </table>
            </div>

                    </div>
                </div>
            </div>



            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a href="Cookbook.HTML" class="btn btn-outline-primary" type="button">Save New Recipe</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    </body>
</html>
